In [ ]:
#Импорт библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from  sklearn.ensemble import IsolationForest
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing  import LabelEncoder
from sklearn import linear_model 
from sklearn import tree 
from sklearn import ensemble 
from sklearn import metrics 
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split 
from sklearn.feature_selection import SelectKBest, f_classif

In [ ]:
#Чтение файла
df = pd.read_csv(r'd:\IDE_github\ML\ML_project4\data\bank_fin.csv', sep = ';')

In [4]:
df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,"2 343,00 $",yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,"45,00 $",no,no,unknown,5,may,1467,1,-1,0,unknown,yes

In [ ]:
#Столбцы с пропусками
list(df.columns[df.isna().any()])

['balance']

In [ ]:
#Количество пропусков
df.isna().sum().loc['balance']

np.int64(25)

In [ ]:
#Исследование столбца job на количество пропусков
df['job'].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [19]:
#Исследование столбца education на количество пропусков
df['education'].value_counts()

education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64

Пропуск обозначен за unknown

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11137 non-null  object
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(6), object(11)
memory usage: 1.4+ MB

In [ ]:
#Тип данных object
df['balance'].head(3)

0     2 343,00 $
1        45,00 $
2     1 270,00 $
Name: balance, dtype: object

In [24]:
#Разделяем столбец balance на числовое значение и валюту
df[['balance_value', 'currency']] = df['balance'].str.extract(r'([\d,]+)\s*(\D+)')

In [ ]:
#Преобразуем числовое значение в float (заменяем запятую на точку)
df['balance_value'] = df['balance_value'].str.replace(',', '.').astype(float)

In [ ]:
#Удаляем исходный столбец balance
df = df.drop('balance', axis=1)